@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --primary-1: 30 70 251;
    --primary-2: 54 0 186;
    --primary: 20 5 245;
    --border: 115 161 255;
    --border-1: 152 189 255;
    --border-2: 183 208 255;
    --background-1: 252 253 255;
    --background: 245 249 255;
    --interaction-2: 234 242 255;
    --interaction-1: 221 233 255;
    --interaction: 205 222 255;
    --grey-1: 185 187 198;
    --grey-2: 98 99 108;
    --foreground-1: 30 31 36;
    --foreground: 16 39 114;
    --radius: 0.5rem;
  }

  .dark {
    --primary-1: 30 70 251;
    --primary-2: 54 0 186;
    --primary: 20 5 245;
    --border: 40 82 220;
    --border-1: 34 71 188;
    --border-2: 27 59 164;
    --background-1: 9 16 34;
    --background: 13 22 45;
    --interaction-2: 13 32 91;
    --interaction-1: 14 38 123;
    --interaction: 20 48 146;
    --grey-1: 185 187 198;
    --grey-2: 98 99 108;
    --foreground-1: 238 238 240;
    --foreground: 209 225 255;

   /* --background: 3 7 17;
    --foreground: 225 231 239;
    --muted: 15 22 41;
    --muted-foreground: 127 142 163;
    --accent: 29 40 58;
    --accent-foreground: 248 250 252;
    --popover: 3 7 17;
    --popover-foreground: 148 163 184;
    --border: 29 40 58;
    --input: 29 40 58;
    --card: 3 7 17;
    --card-foreground: 225 231 239;
    --primary: 248 250 252;
    --primary-foreground: 2 2 5;
    --secondary: 15 23 42;
    --secondary-foreground: 248 250 252;
    --destructive: 129 29 29;
    --destructive-foreground: 248 250 252;
    --ring: 29 40 58;
    --warning: 254 243 200;
    --warning-foreground: 245 159 10;*/
    --radius: 0.5rem;
  }
}
html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
}

/* Style for hiding elements */
.hidden {
  display: none;
}

@layer base {
  /* Reset box model and remove default margin/padding */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Apply styles to the body element */
  body {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto; /* Enable vertical scrolling when necessary */
    @apply bg-background-1 text-foreground-1;
    font-feature-settings: "rlig" 1, "calt" 1;
    @apply font-sans antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .bodyContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}




.wrapper {
  flex: 1;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
    font-size:14px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  transition: color 0.3s ease; /* Add a smooth transition effect */
}

/* WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Slim scrollbar */
  height: 8px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background-color: rgb(var(--background-1)/0.6); /* Base color for the track */
  border-radius: 10px; /* Smoother rounded corners */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */

}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--grey-2)/0.4); /* Base color for the scrollbar thumb */
  border-radius: 10px; /* Match the track border radius for consistency */
  border: 1px solid transparent; /* Transparent border for spacing */
  background-clip: padding-box; /* Ensure the thumb background stays within the border */
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; /* Smooth transitions */
}

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(var(--primary-1)/0.5); /* Darker color on hover for better contrast */
    border-color: rgba(255, 255, 255, 0.3); /* Light border to make the thumb pop */
  }


