@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --popover: #ffffff;
    --popover-foreground: #0f172a;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --card: #ffffff;
    --card-foreground: #0f172a;
    --primary: #0f172a;
    --primary-foreground: #f8fafc;
    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;
    --accent: #f1f5f9;
    --accent-foreground: #0f172a;
    --destructive: #ff0000;
    --destructive-foreground: #f8fafc;
    --ring: #94a3b8;
    --radius: 0.5rem;
    --warning: #f59f0a;
    --warning-foreground: #fef3c8;
  }

  .dark {
    --background: #030711;
    --foreground: #e1e7ef;
    --muted: #0f1629;
    --muted-foreground: #7f8ea3;
    --accent: #1d283a;
    --accent-foreground: #f8fafc;
    --popover: #030711;
    --popover-foreground: #94a3b8;
    --border: #1d283a;
    --input: #1d283a;
    --card: #030711;
    --card-foreground: #e1e7ef;
    --primary: #f8fafc;
    --primary-foreground: #020205;
    --secondary: #0f172a;
    --secondary-foreground: #f8fafc;
    --destructive: #811d1d;
    --destructive-foreground: #f8fafc;
    --ring: #1d283a;
    --radius: 0.5rem;
    --warning: #fef3c8;
    --warning-foreground: #f59f0a;
  }
}
html {
  scroll-behavior: smooth;
}

/* Style for hiding elements */
.hidden {
  display: none !important;
}

@layer base {
  /* Reset box model and remove default margin/padding */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Apply styles to the body element */
  body {
    max-width: 100vw;
    overflow-x: hidden;
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    @apply font-sans antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .bodyContainer {
    @apply relative flex min-h-screen flex-col;
    
  }
}




.wrapper {
  @apply flex-1;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
    font-size:14px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  transition: color 0.3s ease; /* Add a smooth transition effect */
}

