@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
    --muted: 241 245 249;
    --muted-foreground: 100 116 139;
    --popover: 255 255 255;
    --popover-foreground: 15 23 42;
    --border: 226 232 240;
    --input: 226 232 240;
    --card: 255 255 255;
    --card-foreground: 15 23 42;
    --primary: 15 23 42;
    --primary-foreground: 248 250 252;
    --secondary: 241 245 249;
    --secondary-foreground: 15 23 42;
    --accent: 241 245 249;
    --accent-foreground: 15 23 42;
    --destructive: 255 0 0;
    --destructive-foreground: 248 250 252;
    --ring: 148 163 184;
    --warning: 245 159 10;
    --warning-foreground: 254 243 200;
    --radius: 0.5rem;
  }

  .dark {
    --background: 3 7 17;
    --foreground: 225 231 239;
    --muted: 15 22 41;
    --muted-foreground: 127 142 163;
    --accent: 29 40 58;
    --accent-foreground: 248 250 252;
    --popover: 3 7 17;
    --popover-foreground: 148 163 184;
    --border: 29 40 58;
    --input: 29 40 58;
    --card: 3 7 17;
    --card-foreground: 225 231 239;
    --primary: 248 250 252;
    --primary-foreground: 2 2 5;
    --secondary: 15 23 42;
    --secondary-foreground: 248 250 252;
    --destructive: 129 29 29;
    --destructive-foreground: 248 250 252;
    --ring: 29 40 58;
    --warning: 254 243 200;
    --warning-foreground: 245 159 10;
    --radius: 0.5rem;
  }
}
html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
}

/* Style for hiding elements */
.hidden {
  display: none !important;
}

@layer base {
  /* Reset box model and remove default margin/padding */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Apply styles to the body element */
  body {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto; /* Enable vertical scrolling when necessary */
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    @apply font-sans antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .bodyContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}




.wrapper {
  flex: 1;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
    font-size:14px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  transition: color 0.3s ease; /* Add a smooth transition effect */
}

